* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
}

a {
    color: inherit;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

//MAIN LAYOUT
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 75px;
    font-family: 'Raleway - Bold';
    background-color: #181f2b;
    color: white;
    text-align: center;

    @media (max-width: 600px) {
        padding-top: 25px;
    }

    // > * {
    //     max-width: 1440px;
    // }
}
