@font-face {
    font-family: 'NunitoSansReg';
    src: url(../fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSansBd';
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSansReg';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'RalewayBd';
    src: url(../fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'RalewayReg';
    src: url(../fonts/Raleway-Regular.ttf);
}
